<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동적 탕평책 마인드맵</title>
    <link rel="stylesheet" href="../css/mindmap.css">
</head>
<body>
    <div class="mindmap-container">
        <div class="keyword" id="keyword">Roading..</div>
        <div class="nodes" id="nodes"></div>
        <svg id="svg-container"></svg>
    </div>
    <script src="mindmap.js">
        // 페이지가 로드될 때 변수를 가져오도록 설정
        <!-- window.onload = fetchVariable(); -->
    </script>
</body>
</html>

<!-- 시간이 남으면 화면의 가로길이가 줄어들었을 때 윗부분이 안보이는 부분, 스크롤을 올릴 수 없는 이유 해결하기 -->